{
	"TargetName" : "StoryGraphEditor",
	"Platform" : "Mac",
	"Configuration" : "Development",
	"BuildId" : "",
	"Version" : 
	{
		"MajorVersion" : 4,
		"MinorVersion" : 14,
		"PatchVersion" : 3,
		"Changelist" : 3249277,
		"CompatibleChangelist" : 3195953,
		"IsLicenseeVersion" : 0,
		"BranchName" : "++UE4+Release-4.14"
	},
	"BuildProducts" :
	[
		{
			"Path" : "$(ProjectDir)/Plugins/StoryGraphPlugin/Binaries/Mac/UE4Editor-StoryGraphPluginRuntime.dylib",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/StoryGraphPlugin/Binaries/Mac/UE4Editor-StoryGraphPluginRuntime.dSYM",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/StoryGraphPlugin/Binaries/Mac/UE4Editor-StoryGraphPluginEditor.dylib",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/StoryGraphPlugin/Binaries/Mac/UE4Editor-StoryGraphPluginEditor.dSYM",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)/Binaries/Mac/UE4Editor-StoryGraph.dylib",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Binaries/Mac/UE4Editor-StoryGraph.dSYM",
			"Type" : "SymbolFile"
		}
	],
	"RuntimeDependencies" :
	[
		{
			"Path" : "$(ProjectDir)/StoryGraph.uproject",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/StoryGraphPlugin/StoryGraphPlugin.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Blendables/LightPropagationVolume/LightPropagationVolume.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Developer/GitSourceControl/GitSourceControl.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Developer/PerforceSourceControl/PerforceSourceControl.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Developer/SubversionSourceControl/SubversionSourceControl.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Developer/UObjectPlugin/UObjectPlugin.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Developer/XCodeSourceCodeAccess/XCodeSourceCodeAccess.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/EpicSurvey/EpicSurvey.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/MacGraphicsSwitching/MacGraphicsSwitching.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/MobileLauncherProfileWizard/MobileLauncherProfileWizard.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/PluginBrowser/PluginBrowser.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/SpeedTreeImporter/SpeedTreeImporter.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/SuperSearchEditor/SuperSearchEditor.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/CharacterAI/CharacterAI.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/HTML5Networking/HTML5Networking.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/AndroidMedia/AndroidMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/AvfMedia/AvfMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/MediaPlayerEditor/MediaPlayerEditor.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/WmfMedia/WmfMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Messaging/TcpMessaging/TcpMessaging.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Messaging/UdpMessaging/UdpMessaging.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/MovieScene/LevelSequenceEditor/LevelSequenceEditor.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/MovieScene/MatineeToLevelSequence/MatineeToLevelSequence.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystem/OnlineSubsystem.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystemNull/OnlineSubsystemNull.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystemUtils/OnlineSubsystemUtils.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/AppleMoviePlayer/AppleMoviePlayer.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ArchVisCharacter/ArchVisCharacter.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CableComponent/CableComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CustomMeshComponent/CustomMeshComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ExampleDeviceProfileSelector/ExampleDeviceProfileSelector.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/MobilePatchingUtils/MobilePatchingUtils.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ProceduralMeshComponent/ProceduralMeshComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Slate/SlateRemote/SlateRemote.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Content/Slate/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Content/SlateDebug/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Content/Slate/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Content/SlateDebug/...",
			"Type" : "UFS"
		}
	]
}